version: '2'
services:
  frontend:
    image: REPLACE-FRONTEND-IMAGE
    ports:
      - "80:8080"
    environment:
      SERVICES_PORT: "8080"
      DT_APPLICATIONID: "frontend"
      DT_TAGS: "app=keptn-orders"
